<!DOCTYPE html>
<html>
    <head>
        <title>Search</title>
        <%= stylesheet_link_tag "/css/user.css"%>
        <script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
        <script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="container">

            <%= yield %>
        </div>
    </body>
</html>
